@import 'vars';

.about-title {
   display: flex; 
   justify-content: center;
}

.about-content {
    display: flex; 
    justify-content: center;
    margin-top: 2rem;
    padding: 3rem;
}

.about-title,
.about-content {
    background-color: $accent;
    border-radius: 25px;
    margin: 4rem;
}
