@import 'vars';
@import 'fonts';

.about-content {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;

    p {
        color: white;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.5;
    }
}

    .logo {
    max-width: 500px;
    display: block;
    margin: 50px auto;
    padding-bottom: 8rem;
}

.about-wrapper {
    margin-bottom: 10rem;
}


