Footer {
    text-align: center;
    margin-top: 3rem;
    border-top: .1rem solid #392b3b;
    background-color: #392b3b;
    padding: .5rem;
    color: #d7afca;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    img {
        height: 5rem;
    }
}