@use "vars" as *;

Footer {
  text-align: center;
  margin: 0px;
  // margin-top: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;

  // border-top: 0.1rem solid #392b3b;
  background-color: #392b3b;
  width: 100%;
  // padding: 1rem;
  color: #d7afca;
  z-index: 9999;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;

  img {
    height: 3.5rem;
    padding: 0.5rem;
  }
}
.boxTwo {
  height: 100px;
  // z-index: 11111111;
}
// .searchIcon {
//   .boxTwo {
//     display: block;
//   }
// }
.navIcons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 15px;
}

@media (min-width: 345px) {
  Footer {
    img {
      height: 4rem;
    }
  }
}

@media (min-width: 900px) {
  Footer {
    position: relative;
    bottom: 0;
  }
  .navIcons {
    display: none;
  }
  .copyRight {
    display: block;
    margin-left: 20px;
  }
  .footerLogo {
    display: inline-block;
  }
  .desktopFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .desktopFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .footerLogo {
    margin-right: 15px;
  }
}
