.movie-fav {
    position: relative;

    .fav {
        background-color: transparent;
        border: none;
        position: absolute;
        // top: 1rem;
        // left: -1.6rem;

        .heart {
            width: 2.5rem;
            height: auto;
        }
    }

    .banner {
        max-width: 100%;
        height: 100vh;
    }
}
